header {
    color: #d1d1d1;
    background-color: #0f0f0f;
}
nav {
    margin-top: 50px;
    background-color: white;
    opacity: 0.8;
}
.btn:hover {
    color: white;
    background-color: black;
}
.promo:hover {
    color: inherit;
    background-color: #ffc107;
    opacity: 0.95;
}
.btn {
    margin-right: 0;
    margin-left: 0;
    border: 0;
}

callout {
    background-color: #0f0f0f;
    background: url(images/monkees.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
main {
    color: #d1d1d1;
    background-color: black;
}
.music {
    color: #d1d1d1;
    background-color: #0f0f0f;
}
footer {
    color: #d1d1d1;
    background-color: black;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
.intro {
    background-color: #0f0f0f;
}
.jumbotron {
    text-align: center;
    color: black;
}
.new {
    text-align: center;
}
.songs {
    background-color: black;
}
.dates {
    background-color: #0f0f0f;
}
footer a {
    text-decoration: underline;
}
blockquote {
    margin-left: 3px;
}
.page {
    font-weight: bold;
}
.page:hover {
    color: black;
    background-color: white;
}
.email {
    color: black;
}
/*@media (max-width:470) {
    .logo {
        display: none !important;
    }
}
@media (min-width:471) {
    .logo2 {
        display: none !important;
    }
}*/